// grid size
$grid = 6px

// font-size
$font-size-large = 21px
$font-size-medium = 16px

// color
$color-background-light-lightest = #fffffc
$color-background-light-lighter = #f6f4f3
$color-background-light = #e1dfe3
$color-background-light-darker = #c9c3c1
$color-background-light-darkest = #a9a49e
$color-content-dark-lighter = #30312f
$color-content-dark = #2b2b27
$color-border-medium-lighter = #aca5ad
$color-border-medium = #83797a

// border-width
$border-width-large = 4px
$border-width-medium = 3px
$border-width-small = 2px
$border-width-tiny = 1px

// duration
$duration-medium = 225ms

// timing function
$timing-function-ease-out-quart = cubic-bezier(0.165, 0.84, 0.44, 1)
$timing-function-ease-in-quart = cubic-bezier(0.895, 0.03, 0.685, 0.22)
$timing-function-ease-out-sine = cubic-bezier(0.39, 0.575, 0.565, 1)
$timing-function-ease-in-sine = cubic-bezier(0.47, 0, 0.745, 0.715)
